---
title: TPA Advice for Ontario Teachers
tag: "sites"
image: "/assets/img/logos/OntTPA-Logo.png"
---
{% extends "layouts/websites.njk" %}

{% block appImage %}
  <img src="{{ image | url }}"  alt="{{title}} Logo">
{% endblock appImage %}

{% block appDescription %}
  <p>Working through the <a href="https://www.freecodecamp.org" target="_blank">freeCodeCamp</a> tutorials, one of the assignments was to build a technical documentation page. At the time, I had just retired from teaching and a few former collegues were asking for advice about their upcoming Teacher Performance Appraisal. So I decided to combine the two projects and build this static site for Ontario teachers going through the process.</p>
  <p></p>
  <p></p>
{% endblock %}

{% block appLinks %}
  <h5>
    <a role="button" href="https://www.on-tpa.ca" class="web-btn  store-link" target="_blank">on-tpa.ca</a>
  </h5>
{% endblock %}