{% extends "base.njk" %}

{% block content %}
  {% include "social_rotated.njk" %}
  <div class="app-container">
    <div class="bB-logo">
      <img src="/assets/img/bBLogo300.png" alt="">
    </div>

    <div class="about-app">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <!-- Button trigger modal -->
            <button class="projBtn" data-bs-toggle="modal" data-bs-target="#projectModal" aria-label="open modal to show other projects">
              <h3>Projects</h3>
            </button>

          </div>
          <!-- Modal -->
          <div class="modal custom fade" id="projectModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h3>Project List</h3>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Mobile Apps
                {% for app in apps.apps %}
                    <div>
                      <a href="{{ app.url}}">{{app.title}}</a>

                    </div>
                  {% endfor %}
                  <hr>
                Websites
                {% for site in sites.sites %}
                    <div>
                      <a href="{{ site.url}}">{{site.title}}</a>

                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9 ps-2">
            <h3>{{ title }}</h3>
          </div>

        </div>

        <div class="row">
          <div class="col-lg-3 app-img">
            {% block appImage %}{% endblock appImage %}
          </div>
          <div class="col-lg-9">
            {% block appDescription %}{% endblock %}
          </div>
        </div>
        <div class="carousel">
          {% block carousel %}{% endblock %}
        </div>
      </div>
    </div>
    <div class="get-links">
      {% block appLinks %}{% endblock %}
    </div>

    <div class="legal-btns pb-5">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Terms and Conditions
          </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
            <div class="accordion-body">
              {% block appTerms %}{% endblock %}
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" 
            href="#privacypolicy"
            data-bs-toggle="collapse"
            data-bs-target="#privacypolicy" aria-expanded="false" aria-controls="privacypolicy">
            Privacy Policy
          </button>
          </h2>
          <div id="privacypolicy" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
            <div class="accordion-body">
              {% block appPrivacy %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "collapse.njk" %}
{% endblock %}