---
title: Home
layout: "base.njk"
---

<section class="home">
  <div class="bB-Logo">
    <img src="/assets/img/bBLogo500.png" alt="bB Logo">
  </div>
  <h1 class="home__name">borderline<span class="home__name--last">Boomer</span></h1>

  <h2 class="home__title">Simply Apps</h2>

  {% include 'social_icons.njk' %}
</section>